@media only screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-width: 290px) {
    html {
        font-size: 8.5px;
    }
}