@media only screen and (max-width: 950px) {
    html {
        font-size: 90%;
    }
    .services-cont {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .navbar {
        top: -100vh;
        width: 100vw;
    }
    #hamburger{
        display: initial;
    }
    .open {
        top: 0px;
    }
    .section {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 65%;
    }
    .about-content {
        flex-direction: column;
    }
    .about-content p {
        padding: 2vw;
    }
    #skills{
        padding-bottom: 2vh;
    }
    .skill-icon {
        filter: invert();
        padding: 2px;
    }
    .skill {
        min-height: 40px;
        grid-template-columns: 15% 30% 50%;
    }
    .skill-bar {
        height: 10%;
        margin: initial 0;
    }
    .services-cont {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 290px) {
    html {
        font-size: 60%;
    }
    .skill {
        min-height: 20px;
    }
    .skill-bar {
        height: 10%;
    }
    
}

@media only screen and (max-width: 170px) {
    html {
        font-size: 30%;
    }
}

@media only screen and (max-width: 100px) {
    html {
        font-size: 20%;
    }
}