* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Turismo;
  /* cursor: url(../cursor/Normal-Select.cur), pointer; */
}

/* Navbar CSS */

.navbar {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  transition: 1s all;
  z-index: 10;
  width: 20vw;
}

#navbar-close {
  position: absolute;
  top: 2%;
  right: 5%;
  color: white;
  display: none;
}

#navbar-open {
  position: absolute;
  top: 4%;
  left: 4%;
  color: white;
  display: none;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.nav-ul .logo {
  position: absolute;
  top: 0;
  left: auto;
  width: 100px;
}

.nav-list {
  margin: 10px auto;
}

.nav-link {
  color: white;
  font-family: Turismo;
  text-decoration: none;
  transition: 0.1s;
}

.nav-link:hover {
  text-shadow: 2px 2px cyan, -2px -2px red;
  letter-spacing: 4px;
}

/* Header CSS */

header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  z-index: -10;
}

header {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  margin-left: 20%;
}

/* Header > Content CSS */

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-heading {
  font-size: 4rem;
  color: white;
  font-family: MonumentExtended-UltraBold;
  text-shadow: 2px 2px cyan, -2px -2px red;
  transition: 0.1s;
  margin: 0.5% 10%;
}

.main-heading:hover {
  text-shadow: -4px -4px gray, 4px 4px #1e1e1e;
}

.static-text {
  font-size: 1.5rem;
  color: white;
  margin: 0 10%;
}

.typewriter {
  font-size: 1.5rem;
  font-family: MonumentExtended-Regular;
  color: white;
  text-shadow: 1px 1px cyan, -1px -1px red;
  max-width: max-content;
}

/* Header > Content > Neon Button CSS Start */

.neon-btn {
  font-size: 1.3rem;
  font-family: Turismo;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border: 1px solid white;
  
  max-width: max-content;
  margin: 1% 10%;
  padding: 15px;
  transition: 0.5s;
  overflow: hidden;
}

.neon-btn:hover {
  background-color: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

.neon-btn span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.neon-btn span:nth-child(2) {
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.neon-btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.neon-btn span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  50%,
  100% {
    top: -100%;
  }
}

/* Header > Content > Neon Button CSS End */

.section {
  position: relative;
  margin-left: 20%;
}

.section-heading {
  display: flex;
  justify-content: center;
  padding: 2% 0;
  font-family: MonumentExtended-Ultrabold;
}

/* About Section CSS */

#about {
  background-color: white;
}

.about-content {
  background-color: rgb(252, 252, 252);
  padding: 1%;
  display: flex;
  align-items: center;
}

.about-content img {
  display: flex;
  width: 30%;
  height: 30%;
}

.about-content p {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

/* Skills Section CSS */

#skills {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.skills-cont{
  background-color: #1a1a24;
  width: 80%;
  border-radius: 8px;
}

.skill {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  min-height: 60px;
}

.skill-icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}

.skill-icon {
  width: 1.8rem; 
  filter: invert();
}

.skill-name {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
}

.skill-name span {
  font-family: 'Baloo 2';
  font-weight: 500;
  font-size: 1rem;
}

.skill-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 20px cyan;
  height: 15%;
  width: 80%;
  margin: auto auto;
}

.skill-bar span {
  background-color: aqua;
  position: relative;
  border-radius: 5px;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
}

#span-1 {
  width: 70%;
}
#span-2 {
  width: 50%;
}
#span-3 {
  width: 30%;
}
#span-4 {
  width: 50%;
}