* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Turismo;
  /* cursor: url(../cursor/Normal-Select.cur), pointer; */
}

html {
  scroll-behavior: smooth;
}

/* Navbar CSS */

.navbar {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  transition: 0.3s all;
  z-index: 10;
  width: 20vw;
}

#hamburger {
  position: fixed;
  top: 4%;
  left: 4%;
  color: white;
  z-index: 100;
  display: none;
  background-color: black;
  border-radius: 25px;
  padding: 1rem;
  font-size: 2rem;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.nav-ul .logo {
  position: absolute;
  top: 0;
  left: auto;
  width: 7rem;
}

.nav-list {
  margin: 0.8rem auto;
}

.nav-link {
  color: white;
  font-family: Turismo;
  text-decoration: none;
  transition: 0.1s;
  font-size: 1rem;
}

.nav-link:hover {
  text-shadow: 2px 2px cyan, -2px -2px red;
  letter-spacing: 4px;
}

/* Header CSS */

header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -10;
}

header {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  margin-left: 20%;
}

/* Header > Content CSS */

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-heading {
  font-size: 4rem;
  color: white;
  font-family: MonumentExtended-UltraBold;
  text-shadow: 2px 2px cyan, -2px -2px red;
  transition: 0.1s;
  margin: 0.5% 10%;
}

.main-heading:hover {
  text-shadow: -4px -4px gray, 4px 4px #1e1e1e;
}

.static-text {
  font-size: 1.5rem;
  color: white;
  margin: 0 10%;
}

.typewriter {
  font-size: 1.5rem;
  font-family: MonumentExtended-Regular;
  color: white;
  text-shadow: 1px 1px cyan, -1px -1px red;
  max-width: max-content;
}

/* Header > Content > Neon Button CSS Start */

.neon-btn {
  font-size: 1.3rem;
  font-family: Turismo;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border: 1px solid white;

  max-width: max-content;
  margin: 1% 10%;
  padding: 1rem;
  transition: 0.5s;
  overflow: hidden;
}

.neon-btn:hover {
  background-color: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

.neon-btn span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.neon-btn span:nth-child(2) {
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.neon-btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.neon-btn span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  50%,
  100% {
    top: -100%;
  }
}

/* Header > Content > Neon Button CSS End */

.section {
  position: relative;
  margin-left: 20%;
}

.section-heading {
  text-align: center;
  padding: 3% 0;
  font-family: MonumentExtended-Ultrabold;
  font-size: 2rem;
}

/* About Section CSS */

#about {
  background-color: white;
}

.about-content {
  background-color: rgb(252, 252, 252);
  padding: 1%;
  display: flex;
  align-items: center;
}

.about-content img {
  display: flex;
  width: 30%;
  height: 30%;
}

.about-content p {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-family: 'Baloo 2';
  font-weight: 500;
  text-align: justify;
}

/* Skills Section CSS */

#skills {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.skills-cont {
  background-color: #1a1a24;
  width: 80%;
  border-radius: 8px;
}

.skill {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  min-height: 60px;
}

.skill-icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}

.skill-icon {
  width: 1.8rem;
  filter: invert();
}

.skill-name {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
}

.skill-name span {
  font-family: 'Baloo 2';
  font-weight: 500;
  font-size: 1.2rem;
}

.skill-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 20px cyan;
  height: 15%;
  width: 80%;
  margin: auto auto;
}

.skill-bar span {
  background-color: aqua;
  position: relative;
  border-radius: 5px;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
}

#span-1 {
  width: 70%;
}

#span-2 {
  width: 50%;
}

#span-3 {
  width: 30%;
}

#span-4 {
  width: 50%;
}

/* Services Section */
#services {
  background-color: #f9f9f9;
}

.services-cont {
  display: grid;
  width: 90%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 0 auto;
}

.service {
  background-color: #fff;
  padding: 1rem;
  margin: 1.5rem 0.7rem;
  border-radius: 15px;
  box-shadow: 2px 2px 15px #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service:hover {
  box-shadow: 2px 2px 10px #fff;
  cursor: pointer;
}

.service-img {
  height: 25vh;
}

.service-title {
  font-family: 'Baloo 2';
  text-align: center;
}

.service p {
  font-family: 'Baloo 2';
  text-align: justify;
  font-size: 1rem;
  margin: 5px;
  font-weight: 500;
}

.service .button {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.service a {
  border: 2px solid black;
  background-color: black;
  color: white;
  font-family: 'Baloo 2';
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  text-decoration: none;
  margin: 3px;
}

.service a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Testimonial Section CSS */

#testimonials {
  background-color: white;
}

.testimonial-cont {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));;
  padding: 1.5rem;
}

.testimonial {
  position: relative;
  margin: 0 0.5rem;
  box-shadow: 2px 2px 20px #d4d4d4;
  height: 60vh;
}

.testimonial::before {
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
}

.testimonial:nth-child(1)::before {
  background-image: url(../img/wave.svg);
}

.testimonial:nth-child(2)::before {
  background-image: url(../img/wave2.svg);
}

.testimonial:nth-child(3)::before {
  background-image: url(../img/wave3.svg);
}

.testimonial {
  padding: 1rem;
  text-align: justify;
  display: grid;
  grid-template-rows: 10vh 30vh 10vh 10vh;
  height: 60vh;
}

.testimonial img {
  width: 4rem;
  border: 4px solid white;
  border-radius: 45px;
  margin: 0 auto;
  z-index: 1;
}

.testimonial p {
  font-size: 0.9rem;
  font-family: 'Baloo 2';
  font-weight: 500;
}

.testimonial h3 {
  font-family: 'Baloo 2';
  margin: 0 auto;
  color: white;
  z-index: 1;
  font-weight: 500;
  text-shadow: 2px 2px #1e1e1e;
}

.testimonial span {
  font-size: 3rem;
}

.testimonial #span-1 {
  color: #90ee90;
}

.testimonial #span-2 {
  color: #20b2aa;
}

.testimonial #span-3 {
  color: #87cefa;
}

.testimonial svg {
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
}
