@font-face {
    font-family: MonumentExtended-Regular;
    src: url(fonts/MonumentExtended/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: MonumentExtended-UltraBold;
    src: url(fonts/MonumentExtended/MonumentExtended-Ultrabold.otf);
}

@font-face {
    font-family: Turismo;
    src: url(fonts/Turismo/TurismoCF-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Turismo;
    /* cursor: url(cursor/Normal-Select.cur), default; */
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(img/bg2.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-width: 20vw;
    min-height: 100vh;
}

.nav-ul img{
    width: 100px;
}

.nav-list {
    margin: 10px auto;
}

.nav-link {
    color: white;
    font-family: Turismo;
    text-decoration: none;
    margin: 10px 20px;
    transition: 0.1s;
}

.nav-link:hover {
    text-shadow: 2px 2px cyan, -2px -2px red;
    letter-spacing: 4px;
}

#header-content{
    display: flex;
    flex-direction: column;
    min-width: 80vw;
}

.heading-1 {
    font-size: 4rem;
    margin: 1% 10%;
    /* display: inline-block; */
    color: white;
    font-family: MonumentExtended-UltraBold;
    text-shadow: 2px 2px cyan, -2px -2px red;
    transition: 0.1s ;
}

.heading-1:hover {
    text-shadow: -4px -4px gray, 4px 4px #1e1e1e;
}

.static-text {
    color: white;
    font-size: 1.5rem;
    margin: 1% 10%;
}

.typewriter{
    max-width: max-content;
    font-family: MonumentExtended-Regular;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px cyan, -1px -1px red;
}

@media only screen and (max-width: 768px) {
    .navbar{
        display: none;
    }
}

/*  */
/*  */

.neon-btn-a {
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 15px;
    margin: 1% 10%;
    font-size: 18px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    font-family: Turismo;
  }
  
.neon-btn-a:hover {
    background-color: #03e9f4;
    color: white;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  }
  
.neon-btn-a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
.neon-btn-a span:nth-child(2) {
    position: absolute;
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
 .neon-btn-a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
.neon-btn-a span:nth-child(4) {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4 {
    0% {
      top: 100%;
    }
    50%,
    100% {
      top: -100%;
    }
  }